{% extends "pedidos/base.html" %}

{% block contenido %}
<h2 class="mb-3">Listado de Pedidos</h2>

<a href="/pedidos/crear/" class="btn btn-primary mb-3"> Crear Pedido</a>

<table class="table table-bordered table-striped">
<thead class="table-dark">
<tr>
<th>ID</th>
<th>Cliente</th>
<th>Fecha</th>
<th>Producto</th>
<th>Cantidad</th>
<th>Estado</th>
<th>Acciones</th>
</tr>
</thead>

<tbody>
{% for pedido in pedidos %}
<tr>
<td>{{ pedido.id }}</td>
<td>{{ pedido.cliente }}</td>
<td>{{ pedido.fecha_pedido }}</td>
<td>{{ pedido.producto }}</td>
<td>{{ pedido.cantidad }}</td>
<td>{{ pedido.estado }}</td>

<td>
<a href="/pedidos/{{ pedido.id }}/" class="btn btn-sm btn-info">Ver</a>

<a href="/pedidos/editar/{{ pedido.id }}/" class="btn btn-sm btn-
warning">Editar</a>

<a href="/pedidos/eliminar/{{ pedido.id }}/" class="btn btn-sm btn-
danger">Eliminar</a>

</td>

</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}